<footer class="footer">
  <small>
    The <a href="twitter.com">Twitter Architecture Clone</a>
    by <a href="https://uzorjchibuzor.github.io">Chibuzor Efedigbue</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/uzorjchibuzor">News</a></li>
    </ul>
  </nav>
</footer>